*
{
    padding: 0%;
    margin: 0%;
    background-size: cover;
}
body
{
    background-color: rgba(0, 0, 87, 0.788);
    border-radius: 2em;
}
img{
    margin-left: 560px;
    margin-top: 10px;
    height: 200px;
    width: 220px;
    border-radius: 50%;
    border-color: black;
}

.basic_details ul li
{
    text-align: center;
    margin-top: 8px;
    font-size: 24px;
    color: #86da8d;
    list-style: none;
}
.l1
{
    margin-left: -20px;
    margin-top: 15px;
}
.l2
{
    margin-left: -51px;
    margin-top: 8px;
}
.l3
{
    margin-left: -120px;
    margin-top: 8px;
}
.l4
{
    margin-left: -176px;
    margin-top: 8px;
}
.l5
{
    margin-left: 150px;
    margin-top: 8px;
}

.bio
{
    margin-left: 180px;
    margin-top: 15px;
    width: 1000px;
    color: burlywood;
    font-style: italic;
    font-size: 20px;
}
.edu
{
    margin-left: 180px;
    margin-top: 15px;
    width: 1000px;
    color: burlywood;
    font-style: italic;
    font-size: 20px;
    margin-bottom: 56px;
}
.hrr
{
    margin-left: 150px;
}
.time
{
    color: white;
    margin-left: 940px;
    margin-top: 12px;

}